<h1>All Teams</h1>

<a href="/teams/new" id="new_team_link">New Team</a>

<%= form_tag("/teams", method: "get", enforce_utf8: false) do %>
  <%= label_tag(:age, "Teams by Age:") %>
  <%= text_field_tag(:age) %>
  <%= submit_tag("Search", name: nil) %>
<% end %>
<% if @teams.empty? %>
  <p>Sorry, nothing for you here!</p>
<% else %>
  <section id="team_stats">
    <h2>Statistics:</h2>
    <p>Average Age: <%= @average_age.round(2) %></p>
    <p>All Team Locations: <%= @team_locations.join(', ') %></p>
  </section>
<% end %>

<% @teams.each do |team| %>
  <section class="team" id="team_<%= team.id %>">
    <h2><%= team.name %></h2>
    <img src="<%= team.image %>" alt="<%= team.name %> Logo">
    <p>Age: <%= team.age %></p>
    <p>Location: <%= team.location %></p>
    <p>Player Count: <%= team.player_count %></p>
    <% team.players.each do |player| %>
    <aside class="player" id="player_<%= player.id %>">
      <img src="<%= player.image %>" alt="<%= player.name %> Photo">
      <p>Name: <%= player.name %></p>
      <p>Winrate: <%= player.winrate %></p>
    </aside>
    <% end %>
  </section>
<% end %>
